.contact{

    width: 100%;
    height: 700px;
    background-image: url(/public/mountain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

.contact-h1{
    padding: 30px;
    font-size: 40px;
}

.avatar{

    height: 300px;
    border-radius: 50%;
}

.contact-p{

    font-size: 20px;
    padding: 50px;
}