.about-work{

    
    text-align: center;
    margin-top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-h1{

    margin-bottom: 50px;
    font-size: 50px;
}